@font-face {
    font-family: $PlayfairDisplayRegular;
    src: url($fontsUrl + 'PlayfairDisplay-Regular.eot');
    src: url($fontsUrl + 'PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'),
        url($fontsUrl + 'PlayfairDisplay-Regular.woff2') format('woff2'),
        url($fontsUrl + 'PlayfairDisplay-Regular.woff') format('woff'),
        url($fontsUrl + 'PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $ubuntuLight;
    src: url($fontsUrl + 'Ubuntu-Light.eot');
    src: url($fontsUrl + 'Ubuntu-Light.eot?#iefix') format('embedded-opentype'),
        url($fontsUrl + 'Ubuntu-Light.woff2') format('woff2'),
        url($fontsUrl + 'Ubuntu-Light.woff') format('woff'),
        url($fontsUrl + 'Ubuntu-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $InconsolataRegular;
    src: url($fontsUrl + 'Inconsolata-Regular.eot');
    src: url($fontsUrl + 'Inconsolata-Regular.eot?#iefix') format('embedded-opentype'),
        url($fontsUrl + 'Inconsolata-Regular.woff2') format('woff2'),
        url($fontsUrl + 'Inconsolata-Regular.woff') format('woff'),
        url($fontsUrl + 'Inconsolata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}