.header{
    background-color:$defaultBackgroundColor;
    padding: 25px 0px;
        .header-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo-wrapper{
                // padding-right: 125px;
                width: 250px;

                .logo-wrapper-a{
                    width: 250px;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-family: $InconsolataRegular;
                    font-size: 30px;
                    color: #000000;

                }
            }   
        .navigation-ul{
            list-style-type: none;
            .navigation-li{
                display: inline-block;
                .navigation-a{
                    font-size: 14px;
                    text-decoration: none;
                    color: $defaultMenuTextColor;
                cursor: pointer;
                    padding: 0px 30px;
                }
                a:hover{
                    color: red;
                }
            a:last-child{
                padding-right: 0px;
            }
            }   
        }
    }
}