$defaultBackgroundColor:#F0F0F0;
$defaultMenuTextColor:#626262;
$defaultCommentColor:#B4AD9E;
$defaultFooterTextColor:#000000;
$defaultWhiteColor:#FFFFFF;

$fontsUrl: '../fonts/';
$robotoBold: 'Roboto_bold';
$robotoRegular: 'Roboto_regular';
$robotoMedium: 'Roboto-medium';
$robotoRegular: 'Roboto-Regular';
$robotoLight: 'Roboto-Light';
$PlayfairDisplayRegular: 'Playfair Display';
$ubuntuLight: 'Ubuntu';
$InconsolataRegular: 'Inconsolata';